= render partial: "shared/header"
- breadcrumb :logout
= render partial: "shared/breadcrumbs"
.logout-main
  .logout-main-content
    = render 'mypage/modules/mypage-sidebar'
    .logout-content
      .logout-btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete
= render "shared/footer"

