= render "shared/header"
- breadcrumb :mypage
= render partial: "shared/breadcrumbs"
.mypage-main-content
  = render 'mypage/modules/mypage-sidebar'
  .items
    - if @gifts.where(listing_state: 1).blank?
      .items__item
        取引中の商品はありません
    - else
      - @gifts.where(listing_state: 1).first(10).each do |gift|
        .items__item
          .labels-wrapper
            .label
              取引中
          .item-image
            = image_tag Image.find_by(gift_id: "#{gift.id}").name.url
          .item-discriptions
            .item-discriptions--name= gift.name
            .item-discriptions--categories
              = "#{Category.find("#{gift.category_id}").parent.parent.name}/#{Category.find("#{gift.category_id}").parent.name}/#{Category.find("#{gift.category_id}").name}/"
              - if gift.brand_id != 0
                = "#{gift.brand.name}"
            %button.item-discriptions--edit-btn= link_to '編集', edit_gift_path(gift)
            %button.item-discriptions--delete-btn= link_to '削除', gift_path(gift), method: :delete
= render 'shared/footer'